html,
body,
.container-fluid {
  background-color: #373644;
}

.container-fluid {
  height: max-content;
}

.container-fluid .btn-group {
  width: 100%;
}

.video-container {
  padding-top: 1rem;
  width: 100%;
  cursor: pointer;
}

.video-container video {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  box-shadow: 0 20px 10px rgb(0 0 0 / 50%);
  transform: translateY(0px);
}

.video-container video.active {
  border: 1px solid chocolate;
}

.video-container video:hover {
  border: 2px solid brown;
}

.label-container {
  width: 100%;
  font-size: 1.75rem;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
