html,
body,
.container-fluid {
  background-color: #1b1a1a;
}

.container-fluid {
  height: max-content;
}

.container-fluid .btn-group {
  width: 100%;
}

.video-container {
  padding-top: 1rem;
  width: 100%;
  cursor: pointer;
}

.video-container video {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  box-shadow: 0 20px 10px rgb(0 0 0 / 50%);
  transform: translateY(0px);
}

.video-container video.active {
  border: 1px solid chocolate;
}

.video-container video:hover {
  border: 2px solid brown;
}

.label-container {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  overflow-wrap: break-word;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #373644;
  border-radius: 5px;
}

.container-fluid .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  display: flex;
  max-height: 20rem;
}

.container-fluid .row [class^="col-"] {
  max-width: 20rem;
}

.container-fluid[data-view="screens"] .row [class^="col-"].window,
.container-fluid[data-view="windows"] .row [class^="col-"].screen {
  display: none;
}

i.bi.bi-x-lg {
  padding-top: 0.5rem;
  padding-right: 1rem;
  cursor: pointer;
}

i.bi.bi-x-lg:hover {
  color: brown;
}

.btn-group .btn {
  height: 3rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.screen-size-container {
  padding: 0.25rem 0.25rem 0rem 0.75rem;
  display: flex;
}

.screen-size-container label {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.screen-size-container select {
  color: #fff;
  background-color: #373644;
  border: none;
}

.btn.btn-primary {
  background-color: #373644;
}